.post-card-area {
    width: 1000px;
    margin: 40px auto 0px;
}
.post-card {
    display: inline-block;
    width: 440px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(151,151,151,0.58);
    padding: 20px 20px 0px;
    margin: 0 0px 20px 18px;
}
.post-meta {
    margin-bottom: 10px;
    font-size: 13px;
}

.post-card-area .separator{
    font-size: 1.2em;
    color: #303f9f;
    padding: 10px 20px 10px;
}