<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>归档</title>
    <link rel="stylesheet" href="/var/css/archive.css"/>
    <style>
        .nav-list li[name='archive'] {
            background-color: #eeeeee;
        }
        .post-card-area {
            width: 1000px;
            margin: 40px auto 0px;
        }
        .post-card {
            display: inline-block;
            width: 440px;
            background-color: white;
            box-shadow: 0 1px 2px rgba(151,151,151,0.58);
            padding: 20px 20px 0px;
            margin: 0 0px 20px 18px;
        }
        .post-meta {
            margin-bottom: 10px;
            font-size: 13px;
        }

        .post-card-area .separator{
            font-size: 1.2em;
            color: #303f9f;
            padding: 10px 20px 10px;
        }
    </style>
</head>
<div layout:fragment="title">归档</div>
<div layout:fragment="content">
    <div class="post-card-area up-down-ani-area" id="post-cards">
        <div class="separator">八月，2017</div>
        <div class="post-card">
            <div class="post-meta">
                <span style="color: #757575">2017-08-08</span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span style="color: #ba68c8">linux</span>
            </div>
            <div class="post-title">
                <a>教你使用asciinema录制命令行操作</a>
            </div>
            <ul class="post-tags">
                <li>asclinema</li>
                <li>terminal</li>
            </ul>
        </div>
        <div class="post-card">
            <div class="post-meta">
                <span style="color: #757575">2017-08-08</span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span style="color: #ba68c8">linux</span>
            </div>
            <div class="post-title">
                <a>SSH免密登录是怎么玩儿的?</a>
            </div>
            <ul class="post-tags">
                <li>github</li>
                <li>mac</li>
                <li>ssh</li>
            </ul>
        </div>
        <div class="separator">七月，2017</div>
        <div class="post-card">
            <div class="post-meta">
                <span style="color: #757575">2017-08-08</span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span style="color: #ba68c8">linux</span>
            </div>
            <div class="post-title">
                <a>教你使用asciinema录制命令行操作</a>
            </div>
            <ul class="post-tags">
                <li>asclinema</li>
                <li>terminal</li>
            </ul>
        </div>
        <div class="separator">五月，2017</div>
        <div class="post-card">
            <div class="post-meta">
                <span style="color: #757575">2017-08-08</span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span style="color: #ba68c8">linux</span>
            </div>
            <div class="post-title">
                <a>SSH免密登录是怎么玩儿的?</a>
            </div>
            <ul class="post-tags">
                <li>github</li>
                <li>mac</li>
                <li>ssh</li>
            </ul>
        </div>
        <div class="separator">四月，2017</div>
        <div class="post-card">
            <div class="post-meta">
                <span style="color: #757575">2017-08-08</span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span style="color: #ba68c8">linux</span>
            </div>
            <div class="post-title">
                <a>教你使用asciinema录制命令行操作</a>
            </div>
            <ul class="post-tags">
                <li>asclinema</li>
                <li>terminal</li>
            </ul>
        </div>
        <div class="post-card">
            <div class="post-meta">
                <span style="color: #757575">2017-08-08</span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span style="color: #ba68c8">linux</span>
            </div>
            <div class="post-title">
                <a>SSH免密登录是怎么玩儿的?</a>
            </div>
            <ul class="post-tags">
                <li>github</li>
                <li>mac</li>
                <li>ssh</li>
            </ul>
        </div>
        <div class="post-card">
            <div class="post-meta">
                <span style="color: #757575">2017-08-08</span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span style="color: #ba68c8">linux</span>
            </div>
            <div class="post-title">
                <a>教你使用asciinema录制命令行操作</a>
            </div>
            <ul class="post-tags">
                <li>asclinema</li>
                <li>terminal</li>
            </ul>
        </div>
        <div class="post-card">
            <div class="post-meta">
                <span style="color: #757575">2017-08-08</span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span style="color: #ba68c8">linux</span>
            </div>
            <div class="post-title">
                <a>SSH免密登录是怎么玩儿的?</a>
            </div>
            <ul class="post-tags">
                <li>github</li>
                <li>mac</li>
                <li>ssh</li>
            </ul>
        </div>
        <div class="post-card">
            <div class="post-meta">
                <span style="color: #757575">2017-08-08</span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span style="color: #ba68c8">linux</span>
            </div>
            <div class="post-title">
                <a>教你使用asciinema录制命令行操作</a>
            </div>
            <ul class="post-tags">
                <li>asclinema</li>
                <li>terminal</li>
            </ul>
        </div>
        <div class="post-card">
            <div class="post-meta">
                <span style="color: #757575">2017-08-08</span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span style="color: #ba68c8">linux</span>
            </div>
            <div class="post-title">
                <a>SSH免密登录是怎么玩儿的?</a>
            </div>
            <ul class="post-tags">
                <li>github</li>
                <li>mac</li>
                <li>ssh</li>
            </ul>
        </div>

        <div class="page-btns">
            <div class="page-btn">1</div>
            <div class="page-btn">2</div>
            <div class="page-btn">3</div>
            <div class="page-btn active">4</div>
            <div class="page-btn next-btn">下一页</div>
        </div>
    </div>
</div>
<div layout:fragment="customScript">
    <script>
    </script>
</div>
</html>